In [1]:
import json
import numpy as np
import pandas as pd
import geopandas as gpd
import fiona

from pathlib import Path
from tqdm.auto import tqdm

datasets = Path("/nas/cee-water/cjgleason/data")
proj_root = Path("/nas/cee-water/cjgleason/ted/swot-ml")

save_dir = proj_root / 'data' / 'distributed'
metadata_dir = save_dir / 'metadata'


# basin_name = 'Ohio'
basin_name = 'Upper_Miss'
# basin_name = 'Missouri'

basins = gpd.read_file(metadata_dir / f'{basin_name}_basins.geojson')

matchups = gpd.read_file(metadata_dir / f'{basin_name}_matchups.geojson')

# Read in hydroatlas
gdb_path = datasets / "HydroSHEDS" / "HydroATLAS" / "BasinATLAS_v10.gdb"
layer_name = "BasinATLAS_v10_lev09"

hydroatlas = gpd.read_file(gdb_path, layer=layer_name, engine="pyogrio", use_arrow=True)
hydroatlas.replace({'wet_cl_smj':-9999}, 13, inplace=True)
hydroatlas = hydroatlas.set_index('HYBAS_ID')

libpoppler.so.140: cannot open shared object file: No such file or directory
libpoppler.so.140: cannot open shared object file: No such file or directory
libpoppler.so.140: cannot open shared object file: No such file or directory
libpoppler.so.140: cannot open shared object file: No such file or directory
ERROR 1: libpoppler.so.140: cannot open shared object file: No such file or directory
ERROR 1: libpoppler.so.140: cannot open shared object file: No such file or directory
/home/tlanghorst_umass_edu/.local/lib/python3.12/site-packages/pyogrio/raw.py:337: RuntimeWarning: organizePolygons() received a polygon with more than 100 parts. The processing may be really slow.  You can skip the processing by setting METHOD=SKIP, or only make it analyze counter-clock wise parts by setting METHOD=ONLY_CCW if you can assume that the outline of holes is counter-clock wise defined
  table = reader.read_all()

In [2]:
properties = [
    'dis_m3_pmn', # natural discharge annual mean
    'dis_m3_pmx', # natural discharge annual max
    'dis_m3_pyr', # natural discharge annual min
    'lkv_mc_usu', # Lake Volume
    'rev_mc_usu', # reservoir volume
    'ria_ha_usu', # River area
    'riv_tc_usu', # River volumne
    'pop_ct_usu', # Population count in upstream area
    'dor_pc_pva', # Degree of regulation in upstream area
    'clz_cl_smj', # climate zones (18 classes)
    'cls_cl_smj', # climate strata (125 classes)
    'glc_cl_smj', # land cover (22 classes)
    'pnv_cl_smj', # potential natural vegetation (15 classes)
    'wet_cl_smj', # wetland (12 classes)
    'tbi_cl_smj', # terrestrial biomes (14 classes)
    'tec_cl_smj', # Terrestrial Ecoregions (846 classes)
    'fmh_cl_smj', # Freshwater Major Habitat Types (13 classes)
    'fec_cl_smj', # Freshwater Ecoregions (426 classes)
    'lit_cl_smj', # Lithological classes (16 classes)
]

In [3]:
basin_attributes = hydroatlas.loc[basins['HYBAS_ID'].unique()][properties]
basin_attributes

,dis_m3_pmn,dis_m3_pmx,dis_m3_pyr,lkv_mc_usu,rev_mc_usu,ria_ha_usu,riv_tc_usu,pop_ct_usu,dor_pc_pva,clz_cl_smj,cls_cl_smj,glc_cl_smj,pnv_cl_smj,wet_cl_smj,tbi_cl_smj,tec_cl_smj,fmh_cl_smj,fec_cl_smj,lit_cl_smj
HYBAS_ID,,,,,,,,,,,,,,,,,,,
7.090570e+09,2334.268066,6496.585938,3588.623047,44405,14834,122716.101562,2.485392e+06,18513.404297,131,11,68,16,5,3,8,387,7,148,3
7.090569e+09,2339.488037,6498.788086,3591.220947,44405,14834,122443.375000,2.468882e+06,18462.136719,131,11,68,22,5,3,8,387,7,148,3
7.090568e+09,1.118000,5.203000,2.386000,0,0,35.925999,9.151400e+01,43.616001,0,11,68,16,9,13,8,387,7,148,3
7.090567e+09,2358.633057,6510.170898,3602.133057,44402,14834,121817.062500,2.427962e+06,18424.162109,131,11,68,16,5,3,8,387,7,148,3
7.090567e+09,1.027000,5.128000,2.292000,2,0,35.507000,9.724700e+01,14.575000,0,11,68,16,9,13,8,387,7,148,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.090347e+09,2.283000,3.470000,2.762000,100,0,36.997002,8.504600e+01,0.826000,0,8,46,2,8,11,4,344,7,148,9
7.090354e+09,2.595000,3.529000,3.026000,159,0,41.446999,8.632600e+01,4.398000,0,8,46,20,4,1,4,344,7,148,9
7.090353e+09,1.861000,2.535000,2.164000,67,0,30.749001,6.908400e+01,2.993000,0,8,46,2,4,11,4,344,7,148,9
7.090354e+09,0.866000,1.183000,1.010000,31,0,12.356000,2.089500e+01,2.505000,0,8,46,6,4,11,4,344,7,148,9
7.090354e+09,1.702000,2.312000,1.987000,128,0,27.556999,5.775900e+01,1.883000,0,8,46,2,8,11,4,344,7,148,9

In [4]:
basin_attributes.index = basin_attributes.index.astype(int)
basin_attributes.index.name = 'index'
basin_attributes.reset_index().to_csv(save_dir / "attributes" / f"{basin_name}_attributes.csv", index=False)

In [5]:
pd.read_csv(save_dir / "attributes" / f"{basin_name}_attributes.csv")

,index,dis_m3_pmn,dis_m3_pmx,dis_m3_pyr,lkv_mc_usu,rev_mc_usu,ria_ha_usu,riv_tc_usu,pop_ct_usu,dor_pc_pva,clz_cl_smj,cls_cl_smj,glc_cl_smj,pnv_cl_smj,wet_cl_smj,tbi_cl_smj,tec_cl_smj,fmh_cl_smj,fec_cl_smj,lit_cl_smj
0,7090569550,2334.268,6496.586,3588.623,44405,14834,122716.100,2485392.200,18513.404,131,11,68,16,5,3,8,387,7,148,3
1,7090568540,2339.488,6498.788,3591.221,44405,14834,122443.375,2468881.500,18462.137,131,11,68,22,5,3,8,387,7,148,3
2,7090568470,1.118,5.203,2.386,0,0,35.926,91.514,43.616,0,11,68,16,9,13,8,387,7,148,3
3,7090567000,2358.633,6510.171,3602.133,44402,14834,121817.060,2427961.800,18424.162,131,11,68,16,5,3,8,387,7,148,3
4,7090566880,1.027,5.128,2.292,2,0,35.507,97.247,14.575,0,11,68,16,9,13,8,387,7,148,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707,7090346690,2.283,3.470,2.762,100,0,36.997,85.046,0.826,0,8,46,2,8,11,4,344,7,148,9
1708,7090353550,2.595,3.529,3.026,159,0,41.447,86.326,4.398,0,8,46,20,4,1,4,344,7,148,9
1709,7090353490,1.861,2.535,2.164,67,0,30.749,69.084,2.993,0,8,46,2,4,11,4,344,7,148,9
1710,7090354040,0.866,1.183,1.010,31,0,12.356,20.895,2.505,0,8,46,6,4,11,4,344,7,148,9
1711,7090354030,1.702,2.312,1.987,128,0,27.557,57.759,1.883,0,8,46,2,8,11,4,344,7,148,9